@using WebUi.Areas.Admin.Models

@{
    ViewBag.Title = "Message manage";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryajax")
}

<h1>@ViewBag.Title</h1>

<div id="content">
    @Html.Action("MessagesListPage")
</div>