@model PagedList.IPagedList<WebUi.Models.DialogPreviewModel>

@{
    ViewBag.Title = "Dialogs";
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryajax")
}

<h2>Dialogs</h2>

<div id="content">
    @Html.Action("DialogsListPage")
</div>
