@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Error</title>
    @Styles.Render("~/Content/css")
</head>
<body>
<div class="row">
    <div class="col-sm-6 col-xs-12">
        <span class="error-message">An error has occurred. Try again later, please</span>
    </div>
    <div class="col-sm-6 col-xs-12">
        <span class="error-icon">:(</span>
    </div>
</div>
</body>
</html>
