@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 Not Found</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="row">
        <div class="col-sm-6 col-xs-12" style="padding-top: 150px;">
            <span class="error-message">Page Not Found</span>
        </div>
        <div class="col-sm-6 col-xs-12">
            <span class="error-icon">404</span>
        </div>
    </div>
</body>
</html>
