<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target xsi:type="File" name="traceFile" fileName="${basedir}/logs/trace/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} [${callsite}] ${message} " />
    <target xsi:type="File" name="debugFile" fileName="${basedir}/logs/debug/${shortdate}.log"
          layout="${longdate} ${uppercase:${level}} [${callsite}] ${message} " />
    <target xsi:type="File" name="errorFile" fileName="${basedir}/logs/error/${shortdate}.log"
          layout="${longdate} ${uppercase:${level}} [${callsite}] ${message} " />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="traceFile" />
    <logger name="*" minlevel="Debug" writeTo="debugFile" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>